<table class="table table_hover">
    <tr>
        <td>
            <a href = "{{url_for('user',username=post.author.username)}}">
                <img src="{{ post.author.avatar(70) }}">
            </a>
        </td>
        <td><a href = "{{url_for('user',username=post.author.username)}}">
            {{post.author.username}}</a> said {{ moment(post.timestamp).fromNow()}}: 
            <br>{{post.body}}
        </td>
    </tr>
    <tr>
    <form>
        <a href="{{url_for('post_detail', post_id =post.id)}}">detail</a>
    </form>
    </tr>
</table>