{%extends 'bootstrap/base.html'%}
{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
{% endblock %}

        {% block title %}
            {% if title %}
                {{ title }} - Microblog
            {% else %}
                Welcome to Microblog
            {% endif %}
        {%endblock%}

    {%block navbar%}
        <nav class="navbar navbar-default">Microblog: 
            <a href = "{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href = "{{ url_for('login') }}">login</a>
            {% else %}
            <a href="{{ url_for('explore') }}">Explore</a>
            <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
            <a href="{{ url_for('logout') }}">logout</a>
            {% endif %}
        </nav>
    {%endblock%}
    {% block content %}
        <div class="container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}
    
            {# application content needs to be provided in the app_content block #}
            {% block app_content %}{% endblock %}
        </div>
    {% endblock %}
 