{% extends "base.html" %}

{% block app_content %}
<h1>Post: {{post.body}}</h1>
    <ul>
        {% for comment in post.comments.all() %}
        <li>{{comment.body}} by <span style ="color: brown">{{comment.comment_by.username}}</span></li>
        {%endfor%}
    </ul>
    {%if current_user!=None%}
        <form action = "" method="POST" novalidate>
            {{ form.hidden_tag() }}
                <p>
                        {{ form.comment.label}}<br>
                        {{ form.comment}}
                        {% for error in form.comment.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                </p>
                <p>{{ form.submit() }}</p>
        </form>
    {%endif%}
{% endblock%}